{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "c27e1e3"}}}
  ]}.

{erl_opts, [debug_info]}.

{plugins, [
  {rebar3_grisp, {git, "https://github.com/lwehmeier/rebar3_grisp.git", {branch, "master"}}},
  rebar3_appup_plugin
]}.

{grisp, [
    {otp, [
        {version, "20.2"}
    ]},
    {deploy, [
        {destination, "/mnt/c/Users/Leon Wehmeier/dev/msc/deploy"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {helloworld, "0.1.0"}, [{epmd, none}, helloworld]}
]}.

  {provider_hooks, [
      {pre, [{tar, {appup, tar}}]},
      {post, [{compile, {appup, compile}},
              {clean, {appup, clean}}]}
  ]}.
